@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.rightTile{
    /*These next 3 lines will probably have to be changed for it to be 
    responsive*/
    position: absolute;
    right: 2.5em;
    top: 1.5em;

    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    width: 25em;
    /*height: 45em;*/
    padding-bottom: 2em;
    padding: 1em;
    gap: 10px;

    border-radius: 30px;
    background: #96FFFF;
    font-family: 'Comfortaa', cursive;
}

hr {
    width: 100%;
    height: 0.15em;
    background: #022449;
    border: 1px solid #022449;
    border-radius: 25px;
}

.activityData {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.activityData h2{
    margin-bottom: 0.5em;
}

