/*body {
    background: linear-gradient(180deg, #C8EFF4 0%, rgba(200, 239, 244, 0.00) 16.5%), linear-gradient(180deg, rgba(2, 36, 73, 0.00) 53%, #022449 100%), #34A8B7;
} */

.App{
    display: flex;
    flex-direction: row;
    gap: 3rem;

}